.headAbout{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.detailHead{
    color:#a4a3aa ;
    margin-bottom: 2.5rem;
}
.titledetail{
    color:#a4a3aa;
}
.bodyDetail{
    font-size: 1.15rem;
}
